// Color Variables

$white: #fff;
$grey: #EBE8DE;
$greyLight: #F2F2F2;
$black: #000;
$greenSuccess: #39B54A;
$greyFonts: #4D4D4D;
$redFonts: #FF0000;
$success: #39B54A;



// Font-family Variables

$CondensedBold: 'RobotoCondensed-Bold';
$CondensedLight: 'RobotoCondensed-Light';
$RobotoLight: 'Roboto-Light';
$RobotoThin: 'Roboto-Thin';


// Font-size variables

$h1h2: 40px;